<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container mt-2 ">
            <% if(flashMessage) { %>
                <div class="alert alert-danger text-center" role="alert">
                    <%= flashMessage %>
                  </div>
            <% } %>
            <div class="row justify-content-center">
                <form class="col-md-6" action="/new-password" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter Password</label>
                        <input type="password" required class="form-control" name="password" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label is-invalid">Confirm Password</label>
                        <input type="password" required class="form-control" name="confirmPassword" id="confirmPassword">
                    </div>
                    <input type="hidden" value="<%= userId %>" name="userId">
                    <input type="hidden" value="<%= token %>" name="token">
                    <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                </form>
        </div>
        </div>
        
    </main>
<%- include('../includes/end.ejs') %></body>