<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : ''  %>" aria-current="page" href="/">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/products' ? 'active' : ''  %>" href="/products">Products</a>
            </li>
            <% if(isLoggedIn) { %>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/cart' ? 'active' : ''  %>" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/orders' ? 'active' : ''  %>" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/admin/products' ? 'active' : ''  %>" href="/admin/products">My Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/admin/add-product' ? 'active' : ''  %>" href="/admin/add-product">Add Product</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav text-center">
            <% if(!isLoggedIn) { %>
            <li class="nav-item">
                <a class="nav-link <%= path === '/login' ? 'active' : ''  %>" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/signup' ? 'active' : ''  %>" href="/signup">Sign Up</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="d-inline-block nav-link"><i class="text-mute bi bi-person"></i> <%= username %></a>
            </li>
            <li class="nav-item">
                <form class="d-inline-block m-0 p-0" action="/logout" method="post">
                    <button type="submit" class="nav-link m-0">Logout</a>
                  </form>
            </li>
            <% } %>
        </ul>
    </div>
</div>
</nav>