<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body style="background-color: #eee;">
    <%- include('../includes/navigation.ejs') %>
    <main >
        <section class="h-100 h-custom">
            <div class="container-fluid py-5 h-100">
                <% if (products.length > 0) { %>
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-7">
                          <h5 class="mb-3">
                            <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0 , 0);" href="/">
                                <i class="bi bi-arrow-left"></i>
                                Continue Shopping
                              </a>
                          </h5>
                          <hr>
          
                          <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">
                            <p class="mb-1">Shopping cart</p>
                            <p class="mb-0">You have <%= products.length %> <% if (products.length === 1) { %>item<% } else { %>items<% } %> in your cart</p>
                          </div>
                            <% for(const cartItem of products) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <img
                                        src="/<%= cartItem.productId.imageUrl %>"
                                        class="img-fluid rounded-2" alt="<%= cartItem.title %>" style="max-width: 80px; height: auto;">
                                    </div>
                                    <div class="ms-3">
                                        <h5><%= cartItem.productId.title %></h5>
                                        <p class="small mb-0"><%= cartItem.productId.description %></p>
                                    </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                    <div style="width: 50px;">
                                        <h5 class="fw-normal mb-0"><%=cartItem.quantity %></h5>
                                    </div>
                                    <div style="width: 80px;">
                                        <h5 class="mb-0">$<%= cartItem.productId.price %></h5>
                                    </div>
                                    <form action="/cart-item-delete" method="post">
                                        <input type="hidden" name="productId" value="<%= cartItem.productId._id %>">
                                        <button type="submit" class="btn btn-danger "><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="d-flex justify-content-center">
                                <!-- <input type="hidden" name="productId" value="<%=  %>"> -->
                                <div class="w-75">
                                  <button type="button" class="btn btn-lg btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Order</button>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Shipping Address</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form class="row g-3" id="shippingForm" action="/checkout" method="post">
                                      <div class="col-12">
                                        <label for="shipping_name" class="form-label">Name</label>
                                        <input required type="text" class="form-control" id="shipping_name" name="shipping_name" value="<%= name %>">
                                      </div>
                                      <div class="col-12">
                                        <label for="shipping_street" class="form-label">Address</label>
                                        <input required type="text" class="form-control" id="shipping_street" name="shipping_street" placeholder="<% if(shippingAddress.street_address) {%><%= shippingAddress.street_address %><% } else { %>Flat, Floor, Street<% } %>" value="<% if(shippingAddress.street_address) {%><%= shippingAddress.street_address %><% } %>">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="shipping_city" class="form-label">City</label>
                                        <input required type="text" class="form-control" id="shipping_city" name="shipping_city" value="<%= shippingAddress.city %>">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="shipping_state" class="form-label">State</label>
                                        <input required type="text" class="form-control" id="shipping_state" name="shipping_state" value="<%= shippingAddress.state %>">
                                      </div>
                                      <div class="col-md-2">
                                        <label for="shipping_country" class="form-label">Country</label>
                                        <input required type="text" class="form-control" id="shipping_country" name="shipping_country" value="<%= shippingAddress.country %>">
                                      </div>
                                      <div class="col-md-2">
                                        <label for="shipping_zipcode" class="form-label">Zip</label>
                                        <input  type="number" class="form-control" id="shipping_zipcode" name="shipping_zipcode" value="<%= shippingAddress.zipcode %>">
                                      </div>
                                      <div class="w-100">
                                          <button type="submit" class="btn btn-lg btn-outline-primary w-100" id="checkoutBtn">Checkout</a>
                                        </div>    
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <% } else { %>
            <div class="container-fluid text-center">
                <h1>No Products Added!</h1>
            <h5 class="mb-3">
                <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0 , 0);" href="/">
                    <i class="bi bi-arrow-left"></i>
                    Continue Shopping
                  </a>
              </h5>
            </div>
            
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
